{% extends 'basecode.html' %}
{% block body %}
<div class="card-group">
  <div class="card">
    <img src="/media/task3/media/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Image1</h5>
      <p class="card-text">A computer is a machine that can be instructed to carry out sequences of arithmetic or logical operations automatically via computer programming.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/media/task3/media/img2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Image 2</h5>
      <p class="card-text">A "complete" computer including the hardware, the operating system (main software), and peripheral equipment required and used for "full" operation can be referred to as a computer system.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/media/task3/media/img3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Image3</h5>
      <p class="card-text"> Computers are used as control systems for a wide variety of industrial and consumer devices.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
{% endblock %}

{% block right_pane %}

<img src="/media/task3/media/img1.jpg" class="img-fluid" alt="Responsive image">
<img src="/media/task3/media/img2.jpg" class="img-fluid" alt="Responsive image">
<img src="/media/task3/media/img3.jpg" class="img-fluid" alt="Responsive image">
<img src="/media/task3/media/img4.jpg" class="img-fluid" alt="Responsive image">

{% endblock %}
